body {
  background-color: #262626;
}
.grid {
        justify-content: center;
  align-content: center;
 display: flex; /* displays flex-items (children) inline */
  flex-wrap: wrap;
 grid-template-columns: auto auto auto;
 width: 100%;
 gap: 25px;
 padding: 10px;
}
h1 {
  color: white;
  font-family: 'Lexend';
  float: left;
  display: inline;
  padding-left: 20px;
  letter-spacing: 3px;
}
h2 {
  color: white;
  float: right;
  display: inline;
  padding-right: 20px;
  font-family: 'Lexend';
  letter-spacing: 3px;
}
.active {
  color: white;
  font-family: 'Lexend';
  font-size: 25px;
  letter-spacing: 3px;
  text-align: center;
}
button {
  font-family: 'Lexend';
}
p {
  color: white;
  font-family: 'Lexend';
  display: block;
  letter-spacing: 2px;
}
img {
  border-radius: 5px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: block;
}
.download-button:hover {background-color: #3e8e41}
.delete-button:hover {background-color: #d41c1c}
.load-button:hover {background-color: #3656c9}

.download-button:active {
  background-color: #2f6a31;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.delete-button:active {
  background-color: #a71616;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.load-button:active {
  background-color: #2b45a1;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.delete-button {
  border: 8px;
  border-radius: 5px;
  background-color: dimgray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.load-button {
  border: 8px;
  border-radius: 5px;
  background-color: dimgray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.download-button {
  border: 8px;
  border-radius: 5px;
  background-color: dimgray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.grid-container {
  background-color: #3d3d3d;
  border-radius: 5px;
  text-align: center;
  width: 23%;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}