body {
  background-color: #262626;
  margin-top: 120px;
}
#alertbox {
  width: 50%;
  height: 20%;
  background-color: #3d3d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#overlay {
  justify-content: center;
  align-items: center;
  position: fixed; /* Sit on top of the page content */
  display: flex; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#alertbox > h1 {
  color: white;
  display: flex;
  float: none;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  margin-left: auto;
  flex-direction: row;
  margin-right: auto;
  
}
#alertbox > button {
  border: 8px;
  flex-direction: row;
  vertical-align: middle;
  border-radius: 5px;
  background-color: dimgray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  float: none;
  margin: 0 auto;
  cursor: pointer;
  z-index: 5;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  place-items: center;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.search-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.search-icon {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.search-bar {
  color: black;
  font-family: 'Lexend';
  font-size: 25px;
  letter-spacing: 3px;
  margin: 0 auto;
  position: center;
  background-color: lightgray;
  width: 35%;
  text-align: center;
  border-radius: 25px;
  display: inline-block;
}
.active {
  color: white;
  display: block;
  float: none;
  font-family: 'Lexend';
  font-size: 25px;
  letter-spacing: 3px;
  text-align: center;
}
h1 {
  color: white;
  font-family: 'Lexend';
  float: left;
  display: inline;
  padding-left: 20px;
  letter-spacing: 3px;
}
.grid {
        justify-content: center;
  align-content: center;
 display: flex; /* displays flex-items (children) inline */
  flex-wrap: wrap;
 grid-template-columns: auto auto auto;
 width: 100%;
 gap: 25px;
 padding: 10px;
}

h2 {
  color: white;
  float: right;
  display: inline;
  padding-right: 20px;
  font-family: 'Lexend';
  letter-spacing: 3px;
}
button {
  font-family: 'Lexend';
}
p {
  color: white;
  font-family: 'Lexend';
  display: block;
  letter-spacing: 2px;
}
img {
  border-radius: 5px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: block;
}
.download-button:hover {background-color: #3e8e41}
.delete-button:hover {background-color: #d41c1c}
.load-button:hover {background-color: #3656c9}
.restore-button:hover {background-color: #e6ce32}
.restore-button:active {
  background-color: #ccb72d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.download-button:active {
  background-color: #2f6a31;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.delete-button:active {
  background-color: #a71616;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.load-button:active {
  background-color: #2b45a1;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.delete-button {
  border: 8px;
  border-radius: 5px;
  background-color: dimgray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.load-button {
  border: 8px;
  border-radius: 5px;
  background-color: dimgray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.restore-button {
  border: 8px;
  border-radius: 5px;
  background-color: dimgray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  display: block;
  font-size: 16px;
  position: absolute;
}
.download-button {
  border: 8px;
  border-radius: 5px;
  background-color: dimgray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.grid-container {
  background-color: #3d3d3d;
  border-radius: 5px;
  text-align: center;
  width: 23%;
}